<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>www.depot.com/sign-in</title>
</head>

<body>
    <a href="/" class="back-to-home black-clr absolute left-2 top-2">
        <span class="material-symbols-rounded">
            arrow_back
        </span>
    </a>
    <div class="login-wrapper radius flex flex-column a-center j-center gap pad shadow black-clr white-bg">
        <img src="images/depot-logo.png" alt="">
        <p class="font-md bold">Create an account</p>
        <form action="/depot-account-sign-in" method="post" class="flex w-full flex-column relative">

            {{!-- email or phone input --}}
            <label>Enter email or phone</label>
            <input type="text" placeholder="Enter email address or phone number" class="radius" id="emailOrPhone">
            {{!-- email validation --}}
            <div class="email-error absolute right flex gap-1 a-center">
                <h5 class="email-required light red-clr" style="display: none;">This field is required
                </h5>
                <h5 class="email-format light red-clr" style="display: none;"></h5>
            </div>

            {{!-- password input --}}
            <label>Enter your password</label>
            <input type="password" placeholder="Enter password" class="radius" name="password" id="password">
            {{!-- password validation --}}
            <div class="password-error absolute right flex gap-1 a-center">
                {{#if signErr}}
                <h5 class="light red-clr" id="server-error-message">{{signErr}}</h5>
                {{else}}
                <h5 class="light red-clr" style="display: none;" id="server-error-message">{{signErr}}</h5>
                {{/if}}
                <h5 class="password-required light red-clr" style="display: none;">This field is required
                </h5>
                <h5 class="password-min-length light red-clr" style="display: none;">Minimum 8 characters
                    required</h5>
            </div>

            {{!-- or login with authenticated account --}}
            <p class="fonts-sm text-center">
                OR
            </p>
            {{!-- google --}}
            <div class="google w-full radius border-green height flex a-center gap pad-inline pointer">
                <img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />
                Continue with Google
            </div>
            {{!-- microsoft --}}
            <div class="google w-full radius border-green height flex a-center gap pad-inline pointer">
                <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft.png" alt="microsoft" />
                Continue with Microsoft account
            </div>
            {{!-- apple id --}}
            <div class="google w-full radius border-green height flex a-center gap pad-inline pointer">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/mac-os.png" alt="mac-os" />
                Continue with Apple ID
            </div>
            <p>
                By continueing you agree depot's <span class="terms pointer">Term of use</span> and <span
                    class="terms pointer">Privacy policy</span>
            </p>
            <input type="submit" class="radius submit font-sm bold white-clr pointer" value="Get otp" disabled id="submit-btn">
        </form>
        <p class="text-center">
            Aleardy have an account? <span><a href="/depot-account-login">Login</a></span>
        </p>
    </div>
</body>

</html>